.Alert {
    display: block;
    position: fixed;
    top: 10%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: transparent;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 20px 50px 20px 10px;
    font-size: 16px;
    z-index: 99999;
}

.Alert.primary {
    background: #ffffff;
    color: #000;
}
.Alert.success {
    background: green;
    color: #ffffff;
}
.Alert.danger {
    background: red;
    color: #ffffff;
}
.Alert.warning {
    background: blue;
    color: #ffffff;
}