.main {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    min-height: 100vh;
}
.Demo {
    width: 1000px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-flow: column wrap;
}

.DemoButton {
    display: block;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #000;
    background: red;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}