.Button {
    background-color: transparent;
    padding: 7px 10px;
    margin: 20px 10px 0 0;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #000;
    color: #ffffff;
    font-size: 20px;
}

.Button:last-of-type {
    margin-right: 0;
}

.primary {
    background: blue;
}

.danger {
    background: red;
}


