body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-width: 1000px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

button {
    cursor: pointer;
}

ul,ol {
    list-style: none;
}
